// =============================================
// Header
// =============================================

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: $white;
    padding: 1em 7vw;
    display: flex;
    justify-content: flex-end;

    // @media(min-width:$screen-sm) {
    //     display: flex;
    //     justify-content: space-between;
    //
    //     > *:last-child {
    //         display: block;
    //     }
    // }
}


// =============================================
// nav
// =============================================

.nav > * {
    margin-bottom: 0;
    font-weight: bold;

    > * {
        &:not(:last-child) {
            padding-right: 1.5em;
            position: relative;

            &:after {
                content: "";
                display: inline-block;
                height: 18px;
                width: 2px;
                background-color: #3b3c3d;
                transform: skewX(-20deg) translateY(-50%);
                border-radius: 3px;
                position: absolute;
                right: 7px;
                top: 50%;
            }
        }
    }

    a {
        text-decoration: none;
    }
}

.current-menu-item {
    opacity: 0.5;
}


// =============================================
// logo
// =============================================

.welcome {
    margin-bottom: 20vh;
}

.logo {
    font-size: 22vw;
    text-transform: uppercase;
    font-weight: normal;
    margin-bottom: 0;
    display: flex;
    justify-content: space-between;
    color: $dark-grey;
    line-height: 1;
    margin-top: 10vh;
}
