// =============================================
// Header
// =============================================

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: $white;
    padding: 1em 7vw;
    display: flex;
    justify-content: space-between;
    z-index: 3;

    // @media(min-width:$screen-sm) {
    //     display: flex;
    //     justify-content: space-between;
    //
    //     > *:last-child {
    //         display: block;
    //     }
    // }
}


// =============================================
// nav
// =============================================

.nav > * {
    margin-bottom: 0;

    > * {
        &:not(:last-child) {
            padding-right: 1.1em;
        }
    }

    a {
        text-decoration: none;
    }
}




// =============================================
// logo
// =============================================

@keyframes fadedown {
    0% {
        opacity: 0;
        transform: translateY(-10%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.welcome {
    margin-bottom: 13vh;
    margin-top: 4vh;
    animation: fadedown 1s ease-out 1;
}

.logo {
    font-size: 18vw;
    text-transform: uppercase;
    font-weight: normal;
    margin-bottom: 0;
    display: flex;
    justify-content: space-between;
    color: $dark-grey;
    line-height: 1;
}


@media(max-width: $screen-sm-max) {
    .welcome__body p {
        font-size: $h2-font-size !important;
    }
}


.main-title {
    text-transform: uppercase;
    text-align: center;
}


// =============================================
// Footer menu
// =============================================

.footer-menu {
    display: flex;
    flex-flow:wrap;

    @media(max-width: $screen-xs-max) {
        margin-left: 14vw;
        margin-right: 14vw;
    }

    > * {
        width: 50%;
        text-align: center;
        margin-bottom: 1em;

        @media(min-width: $screen-sm) {
            width: 25%;
        }

         @media(max-width: $screen-sm-max) {
            &:nth-child(2):after {
                display: none;
            }
        }
    }
}



.portfolio-box {
    padding: 5vw;

    img {
        max-width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
}


@mixin chevron($color: #000, $size: 5px, $direction: left, $thickness: 1px) {
    content: '';
    display: inline-block;
    width: $size;
    height: $size;
    background: transparent;
    border-top: $thickness solid $color;
    border-right: $thickness solid $color;
    
    @if $direction == up {
        transform: rotate(-45deg);
    }

    @if $direction == down {
        transform: rotate(135deg);
    }

    @if $direction == left {
        transform: rotate(-135deg);
    }

    @if $direction == right {
        transform: rotate(45deg);
    }
}

#top {
    position: absolute;
    top: 0;
    left: 0;
    height: 0;
    width: 0;
}

.back-to-top {
    width: 2px;
    position: relative;
    height: 25px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background: $dark-grey;
    outline: 0;
    border: 0;
    cursor: pointer;

    &:hover {
        opacity: .5;
    }

    span {
        @include chevron($dark-grey, 16px, up, 2px);
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%) rotate(-45deg);
    }
}