.project {
    min-height: 20em;
    max-height: 50em;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

    > * {
        width: 60%;
        max-width: 30em;
    }
}