.project {
    min-height: 20em;
    max-height: 50em;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

    > * {
        width: 70%;
        max-width: 30em;

        @media(min-width: $screen-md) {
            width: 50%;
        }

         @media(min-width: $screen-xl) {
            width: 40%;
        }
    }
}